@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.google.com/specimen/Inter');

body {
    font-size: 15px;
}
body.active {
    overflow: hidden;
}
.main__left {
    height: 100%;
}

.navigation__hamburger,
.hamburger__close {
    display: none;
    cursor: pointer;
}
@media (max-width:1024px ) {
    .navigation__wrapper-menu{
        position: absolute;
        width: 70%;
        height: 100vh;
        background-color: antiquewhite;
        top: 0;
        right: 0;
        align-items: flex-start;
        padding-left: 50px;
        padding-top: 100px;
        transition: all .5s ease;
    }
    .navigation__wrapper {
        transition: all 1s ease;
        position: absolute;
        top: 0;
        right: -110%;
        width: 100vw;
        height: 100vh;
        background-color: rgba(0, 0, 0, 0.555);
    }
    .navigation__wrapper.active {
        right: 0;
    }
    .navigation__hamburger {
        display: block;
        transition: all .1s ease-in-out;
    }
    .hamburger__close {
        display: block;
        position: relative;
        right: -250px;
        bottom: 40px;
        transition: all .3s ease-in-out;
    }
    .navigation__hamburger:hover {
        transform: scale(1.2);
    }
    .hamburger__close:hover {
        border-radius: 100%;
        transform: scale(1.2);
    }
}

footer {
    margin-top: 96px;
}
header {
    padding: 25px;
}

header,
footer,
.features__content{
    border: 1px solid #e3e3e3;
}

